
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

button{
    padding: 10px 20px;
    font-size: 1.3rem;
    cursor: pointer;
}
.d-flex{
    display: flex;
    margin-top: 15px;
    gap: 10px;
    cursor: pointer;
}